{% extends 'core/base.html' %}

{% block title %}Sobre nosotros {% endblock %}

{% block background %}{% load static %}{% static 'core/img/img33.jpg' %}{% endblock %}

{% block headers %}
<h1>Creamos tu WebSite</h1>
<span class="subheading">¿Querés saber más?</span>
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 mx-auto text-center">

    <h2 class="section-heading">WEB & E-COMMERCE</h2>
    <h4>Tu negocio online</h4>
    <p>Con un equipo de expertos altamente calificados en tecnología nos encargamos de crear un sitio Web a fin de colaborar para impulsar y potenciar tu proyecto. Nuestra misión es inspiradora: trabajamos para hacer realidad tus sueños, creando experiencias digitales excepcionales que aporten un valor significativo a tu empresa y tengan un impacto positivo en su entorno. Estamos para ayudarte a convertir tus ideas en resultados tangibles y exitosos.</p> 
  
  </div>
{% endblock %}