{% extends 'core/base.html' %}
{% block title %}Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/img1.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">¡Dejanos tu mensaje!</span>
{% endblock %}

{% block content %}

<div class="col-lg-8 col-md-10 mx-auto text-center">
    <p>¡Convertí tus sueños digitales en realidad con nosotros! <br> Contactate con nosotros hoy mismo y descubre cómo podemos impulsar el éxito de tu proyecto.</p>
    <br>
    <p><b>Teléfono:</b> +54 11 3245 3998</p>
    <p><b>e-mail:</b> webcrear@gmail.com</p>
    <p><b>Dirección:</b><a href = https://maps.app.goo.gl/3Rq4JHVTe33JgWYZ9> Av.Cabildo 6546, CABA</p></a>
</div>
{% endblock %}