{% extends 'core/base.html' %}
{% block title %}Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">¡Dejanos tu mensaje!</span>
{% endblock %}

{% block content %}

<div class="col-lg-8 col-md-10 mx-auto text-center">
    <p>¡Convertí tus sueños digitales en realidad con nosotros! <br> Contactate con nosotros hoy mismo y descubre cómo podemos impulsar el éxito de tu proyecto.</p>
    <br>
    <p><i class="bi bi-whatsapp" style="font-size: 2rem"></i><a href = https://web.whatsapp.com/> +54 11 3245 3998</p></a>
    <p><i class="bi bi-envelope-at"style="font-size: 2rem" ></i><a href = https://mail.google.com/> webcrear@gmail.com</p></a>
    <p><i class="bi bi-shop"style="font-size: 2rem"></i><a href = https://maps.app.goo.gl/3Rq4JHVTe33JgWYZ9> Av.Cabildo 6546, CABA</p></a>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.5550071205944!2d-58.4757441!3d-34.539500499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6bb5e400a93%3A0xd74d8f132de477e5!2sAv.%20Cabildo%206546%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1702258057422!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}