{% extends 'core/base.html' %}
{% block title %}Home {% endblock %}

{% block background %}{% load static %}{% static 'core/img/img44.jpg' %}{% endblock %}

{% block headers %}
<h1>WebInnovation</h1>
<span class="subheading">Creadores de sitios Web para llevar tu empresa a otro nivel</span>
{% endblock %}

{% block content %}
<p>En nuestra empresa, nos dedicamos a la creación de sistemas personalizados de alta calidad que se construyen sobre una visión integral de tu negocio. Ponemos especial atención en las personas, reconociendo su papel central en el éxito de cualquier proyecto. Nos esforzamos por estar siempre en sintonía con las últimas tendencias tecnológicas y culturales, asegurándonos de que cada solución que ofrecemos no solo sea avanzada, sino también relevante y atractiva.</p>

{% endblock %}